[submodule "SearchServer"]
	path = SearchServer
	url = https://github.com/AlexGalkin8/SearchServer.git
[submodule "TransportCatalogue"]
	path = TransportCatalogue
	url = https://github.com/AlexGalkin8/TransportCatalogue.git
[submodule "Spreadsheet"]
	path = Spreadsheet
	url = https://github.com/AlexGalkin8/Spreadsheet.git
[submodule "Mython"]
	path = Mython
	url = https://github.com/AlexGalkin8/Mython.git
[submodule "VirtualTables"]
	path = VirtualTables
	url = https://github.com/AlexGalkin8/VirtualTables.git
